{% extends 'RudakContactBundle::layout.html.twig' %}

{% block layout %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Contact</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}